.brand-logo {
  margin-left:20px;
}

nav {
  background-color:#cc3b3b !important;
}

.input-field .prefix.active {
  color:#cc3b3b !important;
}

.datepicker-table td.is-today {
  color:#cc3b3b !important;
}

.confirmation-btns button {
  color:#cc3b3b !important;
}

.datepicker-table td.is-selected {
  background-color:#cc3b3b !important;
}

.datepicker-date-display {
  background-color:#cc3b3b !important;
}

.modal {
  overflow-x:hidden;
}

input[type=text]:focus+label, input[type=password]:focus+label {
  color:#cc3b3b !important;
}

.collection-header h4 {
  font-size:20px;
  margin:0px;
  font-weight:bold;
}

.welcome-msg {
  font-size:24px;
  font-weight:100;
}

input[type=text]:focus, input[type=password]:focus {
  border-bottom-color: #cc3b3b !important;
  box-shadow:0 1px 0 0 #cc3b3b !important;
}

input.valid {
  border-bottom-color: #cc3b3b !important;
  box-shadow:0 1px 0 0 #cc3b3b !important;
  color:#cc3b3b !important;
}

.flash-msg {
  font-weight:100;
  font-size:32px;
  text-align: center;
}

.error-msg {
  color:red;
}

.left-title {
  background-color:#cc3b3b;
  color:white;
  align-items: center;
  justify-content: center;
  height:155px;
}

.left-title p {
  padding:10px;
  font-size:22px;
  font-weight:100;
}

.delete-icon {
  background-color:#cc3b3b;
  padding:5px;
  margin-top:-5px;
  color:white;
  border-radius:50%;
}

.delete-icon:hover {
  background-color:#a32f2f;
}

.success-flash {
  background-color:#28a745!important;
}

.title-welcome {
  text-align:center;
  font-weight:100;
  font-size:42px;
  margin-bottom: 40px;
}

.btn {
  background-color:#cc3b3b !important;
}

.register-title {
  margin-top:20px;
  font-size:38px;
  font-weight:100;
}
